# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Backend / PocketBase
backend/pb_data/
backend/*.db

# Secrets (ВНИМАНИЕ: Секретные доступы не пушим!)
ACCESS.md

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent
.agent
_PRD_
